body {
    background: #d1d5db;
}
.col-md-6{
    margin-top: 200px;
}

.height {

    height: 50vh;
}

.form {

    position: relative;
}

.form .fa-search {

    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af;

}

.form span {

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan {
    padding-left: 7px;
}

.left-pan i {

    padding-left: 10px;
}

.form-input {

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus {

    box-shadow: none;
    border: none;
}

/* style for the list items */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* style for the headings */
h3 {
    font-size: 1.8rem;
    margin-bottom: 0;
}

/* style for the content paragraphs */
p {
    margin-top: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    border: 2px solid black;
    padding: 10px;

}

/* style for the container div */
.col-md-5 {
    width: 60%;
    float: left;
    padding: 10px;
    margin-top: 40px;
    box-sizing: border-box;
}


