{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-5">
             <audio  controls ><source src="{{data.url}}" type="audio/mpeg"></source></audio>
             <h3 ><li>{{data.first_form}}</li></h3>
             {{data.example_first | linebreaks }}
            <h3><li>{{data.second_form}}</li></h3>
            {{data.example_second | linebreaks}}
            <h3><li>{{data.third_form}}</li></h3>
            {{data.example_third | linebreaks}}
            <a style="text-decoration: none;" href="{% url 'search_page' %}"><button class="btn btn-secondary btn-lg btn-block" type="submit" style="color: aliceblue;">Back to
            search</button></a>
        </div>
    </div>
</div>
{% endblock content %}